body {
    padding: 0 20px;
    box-sizing: border-box;
}

/* Classe principale pour la liste de cartes de logements */
.logement-card-list {
    padding: 55px 50px;
    background-color: #f6f6f6;
    border-radius: 25px;
    margin-bottom: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 60px;
    max-width: 1160px;
    margin: auto;
    margin-top: 43px;
}

/* Styles pour les images dans les articles (cartes) */
article img {
    width: 100%;
    height: 340px;
    border-radius: 20px;
    filter: brightness(80%);
    object-fit: cover;
}

/* Lien de la carte */
.card-link {
    text-decoration: none;
}

/* Titre de la carte */
.card-title h2 {
    font-weight: 500;
    font-size: 18px;
    color: black;
}

/* Styles pour chaque carte de logement */
.card {
    position: relative;
    margin-bottom: 40px;
    width: 340px;
}

/* Titre sur l'image de la carte */
.card h2 {
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 3;
    color: white;
    padding: 15px;
}

/* Media query pour les écrans (mobile, tablettes) */
@media (max-width: 768px) {

    /* Mise à jour de la classe pour les écrans mobiles */
    .logement-card-list {
        padding: 50px 0px;
        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;
        width: 100%;
        background-color: transparent;
        margin-bottom: 27px;
        max-width: 1240px;
        min-width: 390px;
        gap: 20px;
        margin-top: 0;
    }

    /* Ajustement de la taille des cartes pour les petits écrans */
    .card {
        flex: 1 1 auto;
        margin: 0;
        width: 100%;
    }

    /* Réduction de la hauteur des images sur les petits écrans */
    article img {
        max-height: 200px;
    }
}